 <div class="user-details">
  <h1> My Certificates </h1>
</div>
  <div class="user">
    <div class="tech">
      <img alt="SoftServe" src="https://www.softserveinc.com/cdn/img/root/black-logo-root.svg" />
      <p>SoftServe DevOps Fundamentals Course</p>
        <a class="project-link user-btn" href="{{ "/assets/img/devopsfundamentals.jpg" | prepend: site.baseurl }}">Show It</a>
    </div>
    <div class="tech">
      <i class="devicon-javascript-plain colored"></i>
      <p>Mumblecore hexagon kombucha pitchfork</p>
        <a class="project-link user-btn" href="#">Show It</a>
    </div>
    <div class="tech">
      <i class="devicon-git-plain"></i>
      <p>Mumblecore hexagon kombucha pitchfork</p>
        <a class="project-link user-btn" href="#">Show It</a>
    </div>
    <div class="tech">
      <i class="devicon-html5-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha pitchfork</p>
        <a class="project-link user-btn" href="#">Show It</a>
    </div>
</div>
