 <div class="user-details">
  <h1> My Certificates </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <i class="devicon-html5-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
        <a class="project-link user-btn" href="#">Link</a>
    </div>
    <div class="tech">
      <i class="devicon-javascript-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
        <a class="project-link user-btn" href="#">Link</a>
    </div>
    <div class="tech">
      <i class="devicon-git-plain"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
        <a class="project-link user-btn" href="#">Link</a>
    </div>
    <div class="tech">
      <i class="devicon-html5-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
        <a class="project-link user-btn" href="#">Link</a>
    </div>
</div>
