<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> DevOps Engineer at <a class="project-link-title" target="_blank" href="https://brokee.io">Brokee.io</a>
    </h3>
    <ul>
      <li> August 2023 - Present </li>
    </ul>
    <p>Development and improvement of automated tests for DevOps, Cloud and SRE Engineer candidates</p>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Telegram Crypto Bot </h3>
    <ul>
      <li> May 2023 - August 2023</li>
    </ul>
    <p>A Telegram bot that send info to customer about: fund markets opening/closing; candles opening/closing; funding rates and updates; big deals on the market (whales);
      News from trusted platforms (like Incrypted) and a posts from big list of twitter accounts (Coins accounts, exchanges accounts, trusted persons accounts)</p>
    <a class="project-link" href="/cryptobot">Read more...</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Schedule website for students group </h3>
    <ul>
      <li> March 2023 - May 2023</li>
    </ul>
    <p>Online website for a one group of students where they can check their subjects, make notes. Project based on Vue and have a CI / CD pipeline which automatically accept new commits from GitHub, makes a DockerImage, Push image to DockerHub and runs a K8s cluster via Ansible.</p>
  </div>
</div>
